html{
    font-size: 62.5%;
    font-family: helvetica, arial, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
.top-nav{
    background-color: rgba(15, 171, 77);
    display: flex;
    justify-content: space-between;
    align-items: center ;
    height: 5em;
    height: 6em;
}
.logo-title{
    margin: 0;
    font-size: 3em;
    padding-left: .5em;
}
.search-bar{
    width: 50%;
}
.top-nav-btn-list{ /* ul */
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    gap: 2em;
    text-align: center;
    padding: 0 3em 0 0;
}
.top-nav-btn { /* li */
    width: 20%;
    text-align: center;
    width: fit-content;
}
.top-nav-btn a{
    padding: 1.2em;
    font-size: 1.2em;
    border-radius: 10%;
    display: block;
}
.btn-style:hover{
    background-color: rgba(12, 122, 56, .3) ;
    color: rgb(2, 29, 48, .5);
}
.btn-style{
    text-decoration: none;
    background-color: rgba(12, 122, 56, .8) ;
    color: rgb(2, 29, 48);
    font-weight: bold;
    outline: 1px solid black;
    letter-spacing: 1px;
}
.hero{
    width: 100%;
    height: 70rem;
    position: relative;
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.fun_fact-container{
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 50%;
}
.fun_fact{
    font-size: 3em;
    color: white;
    display: block;
    margin: 0;
    padding: 1em;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.5;
    text-shadow: 2px 2px 2px black;
    margin: 0;
}
.trending-title{
    text-align: center;
    font-size: 2.5em;
    padding: 1rem 0 1.7rem 0;
}
.trending-places{
    display: flex;
    justify-content: space-evenly;
    height: 50em;
    gap: 20em;
    padding: 0 10em;
    height: fit-content;
}
.trending-place-container{
    margin: 0;
    padding: 0;
    overflow-y: auto;
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 5px 8px #888888;
    border-radius: 2%;
}
.trending-place-container img{
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.trending-place-container-text{
    background-color: rgb(219, 219, 219, .8);
    margin: 0;
    padding: 0;
    height: 20em;
    padding: 1.5em;
    width: fit-content;
    height: fit-content;
}
.trending-place-container-text h3{
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: .5em;
}
.trending-place-container-text p{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: justify;
}
.trending-btn-container{
    text-align: center;
    padding: 5em;
    margin: 2em 0 2em 0;
}
.trending-btn{
    padding: 1.5em;
    font-size: 1.5em;
    border-radius: 5%;
}
.down-footer{
    background-color: rgba(0, 0, 0, .8);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.down-footer p{
    margin: 0;
    padding: 1em;   
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black;
    font-weight: bolder;
}
